* {
  margin: 0px;
}

main {
  display: flex;
}

nav {
  height: 100vh;
  width: 20vw;
  background-color: whitesmoke;
  font-family: system-ui;
  font-weight: 400;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration : none;
  color: #666;
}

.nav-button {
  width: 77%;
  height: 20px;
  padding: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.gradient-area {
  width: 80vw;
  height: 100vh;
}